body {
    max-width: 900px;
    margin: 0 auto;
  }
  
  #one {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    height: 500px;
  }
  
  .one {
    background: rebeccapurple;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .two {
    background: #000;
    grid-column: 2/4;
    background: peru;
  }
  
  .three {
    background: #000;
  }
  
  .four {
    background: #000;
  }
  
  #two {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "main title title" "main info-one info-two";
    grid-gap: 15px;
    height: 500px;
  }
  
  .two-one {
    background: rebeccapurple;
    grid-area: main;
  }
  
  .two-two {
    background: peru;
    grid-area: title;
    display: flex;
    align-items: center;
  }
  
  .two-three {
    background: #000;
    grid-area: info-one;
  }
  
  .two-four {
    background: #000;
    grid-area: info-two;
  }
  
  @media (max-width: 900px) {
    #two {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas: "main main" "main main" "title title" "info-one info-two";
      grid-gap: 15px;
      height: 500px;
    }
  }
  
  